body{
	margin:0;
	background-color: #F1F2F3;
}

.nav-bar{
	background-color: #5587AC;
}

.nav-ul{
	list-style-type: none;
	margin:0;
	margin-right:25vh;
	margin-left:25vh;
}

.nav-ul li{
	display: inline-block;
	margin:0;
}

.nav-ul li a{
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #5587AC;
	display: block;
	text-decoration: none;
	font-size: 18px;
}

.nav-ul .active a{
	color: black;
	background-color: #F1F2F3;
}

.align-left{
	clear: both;
	float: left;
}

.align-right{
	clear: both;
	float: right;
}

.login-box{

}

.content-window{
	margin: 10px;
	margin-right: 20vh;
	margin-left: 20vh;
}

.product-box{
	border-color: black;
	border-width: 1px;
	border-style: solid;
	background-color: #E1EAF0;
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 5px;
	width: 50vh;
	height: auto;
	color: #444444;
}

.product-box .description-title{
	font-weight: bold;
}

.product-box .price-title{
	font-weight: bold;
}

.product-box .in-store-title{
	font-weight: bold;
}